<app-modal-confirmation 
 
#modal
  >
</app-modal-confirmation>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuários</h4>
        <p class="card-description" style="display: none;"> Add class <code>.table-striped</code>
        </p>

        <div class="search-container" style="border: 1px solid #ccc; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label for="searchName">Nome:</label>
                <input type="text" id="searchName" [(ngModel)]="searchName" class="form-control" placeholder="Digite o nome">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-5 col-sm-6 col-12">
              <div class="form-group">
                <label for="searchEmail">Email:</label>
                <input type="text" id="searchEmail" [(ngModel)]="searchEmail" class="form-control" placeholder="Digite o email">
              </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="searchRole">Tipo de Usuário:</label>
                <select id="searchRole" [(ngModel)]="searchRole" class="form-select">
                  <option value="">Todos</option>
                  <option *ngFor="let perfil of perfis" [value]="perfil.name">{{ perfil.name }}</option>
                </select>
              </div>
            </div>
        
            <div class="col-lg-3 col-md-12 text-md-right text-center" style="margin-top: 30px;">
              <button class="btn btn-primary" (click)="searchUsers(1)">Pesquisar</button>
            </div>
          </div>
        </div>
  
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>              
              <tr>
                <th colspan="5" style="text-align: right;" >                   
                    <i class="mdi mdi-account-plus" (click)="addUser()" title="Adicionar usuário" style="font-size: 24px; cursor: pointer;"></i>                   
               </th>                         
              </tr>              
              <tr>
                <th> Nome </th>              
                <th> Email </th>
                <th> Último Nome </th>         
                <th> Status </th>                    
                <th style="display: none;"></th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dados">              
                <td> {{item.Name}} </td>
                <td> {{item.Email}} </td>
                <td> {{item.LastName}} </td>
                <td> {{item.Active ? 'Ativo' : 'Inativo'}} </td>
                <td style="text-align: right;">                                        
                    <i (click)="updateUser(item.ID)" style="font-size: 20px; cursor: pointer; " 
                    title="Editar usuário" 
                    class="mdi mdi-table-edit"></i>
                  &nbsp;&nbsp;&nbsp;
                  <i  (click)="openModal()" style="font-size: 20px; display: none; cursor: pointer; " 
                  title="Excluir usuário" 
                  class="mdi mdi-delete">
                </i> </td>               
              </tr>             
            </tbody>
          </table>
          <app-paginator
          [totalPages]="totalPages"
          [currentPage]="currentPage"          
          (pageChange)="onPageChange($event)">
        </app-paginator>
        </div>
      </div>
    </div>
  </div>