<app-modal-ok></app-modal-ok>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ 'Ecra.invoices' | translate }}</h4>
          <p class="card-description" style="display: none;"> Add class <code>.table-striped</code>
          </p>
   <div class="search-container" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
            <div class="row">             
              
         
              <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                 
                   <label for="searchRole" style="font-size: 12px">{{ 'Ecra.AirLineCompany' | translate }}:</label>
                <select id="searchRole" [(ngModel)]="searchAirlineCode" class="form-select">
                  <option value="" style="font-size: 12px">{{ 'Ecra.all' | translate }}</option>
              
                  <option *ngFor="let data of airLInes" [value]="data.code" style="font-size: 12px">{{data.name}}</option>
                </select>
                </div>
            </div>

              <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                     <label for="searchRole" style="font-size: 12px">{{ 'Ecra.DtStart' | translate }}:</label>
                        <input 
                              matInput [matDatepicker]="picker1" 
                              placeholder="{{ 'Ecra.selectDate' | translate }}"
                               class="form-control w-100"
                               [(ngModel)]="searchAirlineDtInicio"
                              (click)="picker1.open()">                        
                              <mat-datepicker #picker1></mat-datepicker>

                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                     <label for="searchRole" style="font-size: 12px">{{ 'Ecra.DtEnd' | translate }}:</label>
                        <input 
                              matInput [matDatepicker]="picker2" 
                              placeholder="{{ 'Ecra.selectDate' | translate }}"
                               class="form-control w-100"
                                  [(ngModel)]="searchAirlineDtFim"
                              (click)="picker2.open()">                        
                              <mat-datepicker #picker2></mat-datepicker>

                </div>
            </div>

                <div class="col-lg-2 col-md-12 text-md-right" style="text-align: left; margin-top: 27px;;">
              <button style="font-size: 12px" class="btn btn-primary" (click)="search(1)">{{ 'Ecra.search' | translate }}</button>
            </div>
         
            </div>
   </div>

     <div class="table-responsive" style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
          <table class="table table-bordered">
            <thead> 
               <tr>
                <th class="fmtTableBorder" colspan="5" style="text-align: right;"> 
                  <a href="javascript:void(0)"  (click)="donwloadAll();"> Download {{ 'Ecra.all' | translate }} </a>
                 </th>    
               
              </tr>
              <tr>
                <th class="fmtTableBorder"> {{ 'Ecra.fileName' | translate }}</th>    
                  <th class="fmtTableBorder"> {{ 'Ecra.AirLineCompany' | translate }}</th>                                    
                <th class="fmtTableBorder"> {{ 'Ecra.DtImport' | translate }} </th>   
                 <th class="fmtTableBorder">  </th>   
                  <th class="fmtTableBorder">Já fez Donwload?  </th>  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dados">              
                <td> {{item.FileName}} </td>
                <td> {{item.CompanyName}} </td>        
                <td> {{item.DtImport | date:'dd/MM/YYYY HH:MM'}} </td>   
                <td>  <a href="{{item.FileUrl}}"  (click)="donwloadJustOne(item);">Download </a></td>  
                 <td> {{item.DownloadDone ?'Sim':'Não'}} </td>                             
              </tr>             
            </tbody>
          </table>
          <app-paginator
          [totalPages]="totalPages"
          [currentPage]="currentPage"          
          (pageChange)="onPageChange($event)">
        </app-paginator>
        </div>
        </div>
    </div>
</div>