

<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
      <!-- <p class="modal-title" [innerHTML]="message"></p> -->

  
      <!-- Lista com barra de rolagem -->
      <div  class="modal-list">
    

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ 'Ecra.alerts' | translate }}</h4>
          <p class="card-description" style="display: none;"> Add class <code>.table-striped</code>
          </p>
   <div class="search-container" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
    <br>
            <div class="row">
              
               <div class="col-lg-12 col-md-12 col-sm-12 col-12" >
          <div *ngFor="let msg of list" [innerHTML]="msg"></div>
            
              </div>
               </div>
                </div>
              
        </div>
    </div>
</div>

   
      </div>
  
      <div class="modal-buttons">
        <button class="modal-button confirm" (click)="fechar()">{{ 'Ecra.close' | translate }}</button>
      </div>
    </div>
  </div>
