

<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
      <!-- <p class="modal-title" [innerHTML]="message"></p> -->

  
      <!-- Lista com barra de rolagem -->
      <div  class="modal-list">
    

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Modelos</h4>
          <p class="card-description" style="display: none;"> Add class <code>.table-striped</code>
          </p>
   <div class="search-container" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
    <br>
            <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <img src="../../../../../assets/airLineLogo/AeroMexico.png" width="150px">
                <br>
                <label for="searchName" style="font-size: 14px">Aeroméxico:

                     <a href="../../../../../assets/airLineSheetModel/AeroMexico-0001.xlsx">Download</a>
                </label>
               
              </div>
              </div>
                 <div class="col-lg-3 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <img src="../../../../../assets/airLineLogo/Volaris.png" width="150px">
                <br>
                <label for="searchName" style="font-size: 14px">Volaris:

                     <a href="../../../../../assets/airLineSheetModel/Volaris-0002.xlsx">Download</a>
                </label>
               
              </div>
              </div>
                  <div class="col-lg-3 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <img src="../../../../../assets/airLineLogo/Viva.png" width="150px">
                <br>
                <label for="searchName" style="font-size: 14px">Viva Aerobus:

                     <a href="../../../../../assets/airLineSheetModel/VivaAerobus-0003.xlsx">Download</a>
                </label>
               
              </div>
              </div>
                  <div class="col-lg-3 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <img src="../../../../../assets/airLineLogo/AmericanAirline.png" width="150px">
                <br>
                <label for="searchName" style="font-size: 14px">American Airline:

                     <a href="../../../../../assets/airLineSheetModel/AmericanAirline-0004.xlsx">Download</a>
                </label>
               
              </div>
              </div>

               <div class="col-lg-3 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <img src="../../../../../assets/airLineLogo/AirCanada.png" width="150px">
                <br>
                <label for="searchName" style="font-size: 14px">Air Canada:

                     <a href="../../../../../assets/airLineSheetModel/AirCanada-0005.xlsx">Download</a>
                </label>
               
              </div>
              </div>
              
               <div class="col-lg-3 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <img src="../../../../../assets/airLineLogo/DeltaAirline.png" width="150px">
                <br>
                <label for="searchName" style="font-size: 14px">Delta airline:

                     <a href="../../../../../assets/airLineSheetModel/DeltaAirline-0006.xlsx">Download</a>
                </label>
               
              </div>
              </div>
               </div>
                </div>
              
        </div>
    </div>
</div>

   
      </div>
  
      <div class="modal-buttons">
        <button class="modal-button confirm" (click)="fechar()">Fechar</button>
      </div>
    </div>
  </div>
