<app-modal-ok></app-modal-ok>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Faturas</h4>
          <p class="card-description" style="display: none;"> Add class <code>.table-striped</code>
          </p>

          <div class="search-container" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 10px; ;;">
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <label for="searchKey" style="font-size: 12px">Key:</label>
                  <input type="text" id="key" style="font-size: 12px" [(ngModel)]="searchKey" class="form-control" placeholder="Digite a key">
                </div>
              </div>
            
            <div class="col-lg-4 col-md-5 col-sm-6 col-12" >
              <div class="form-group">
                <label for="searchName" style="font-size: 12px">Nombre:</label>
                <input type="text" style="font-size: 12px" id="searchName" [(ngModel)]="searchName" class="form-control" placeholder="Digite o nombre">
              </div>
              </div>
            <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                  <label for="searchLasName" style="font-size: 12px">Apelido:</label>
                  <input type="text" id="searchLastName" style="font-size: 12px" [(ngModel)]="searchLastName" class="form-control" placeholder="Digite o apelido">
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                 
                   <label for="searchRole" style="font-size: 12px">Compania aérea:</label>
                <select id="searchRole" [(ngModel)]="searchAirlineCode" class="form-select">
                  <option value="" style="font-size: 12px">Todos</option>
                  airLInes
                  <option *ngFor="let data of airLInes" [value]="data.code" style="font-size: 12px">{{data.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                     <label for="searchRole" style="font-size: 12px">Dt. Inicio:</label>
                        <input 
                              matInput [matDatepicker]="picker1" 
                              placeholder="Escolha uma data"
                               class="form-control w-100"
                               [(ngModel)]="searchAirlineDtInicio"
                              (click)="picker1.open()">                        
                              <mat-datepicker #picker1></mat-datepicker>

                </div>
            </div>
            <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                     <label for="searchRole" style="font-size: 12px">Dt. Fim:</label>
                        <input 
                              matInput [matDatepicker]="picker2" 
                              placeholder="Escolha uma data"
                               class="form-control w-100"
                                  [(ngModel)]="searchAirlineDtFim"
                              (click)="picker2.open()">                        
                              <mat-datepicker #picker2></mat-datepicker>

                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                <div class="form-group">
                 
                   <label for="searchRole" style="font-size: 12px">Status:</label>
                <select id="searchRole" [(ngModel)]="searchStatus" class="form-select">
                  <option value="" style="font-size: 12px">Todos</option>
                  airLInes
                  <option *ngFor="let data of statusImportData" [value]="data.name" style="font-size: 12px">{{data.name}}</option>
                </select>
                </div>
            </div>
               <div class="col-lg-2 col-md-12 text-md-right" style="text-align: left; margin-top: 27px;;">
              <button style="font-size: 12px" class="btn btn-primary"(click)="searchOnlyFlyExcelData(1)">Pesquisar</button>
            </div>
            </div>           
          </div>
          
        <div class="table-responsive" style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
          <table class="table table-bordered">
            <thead>                          
              <tr>
                <th colspan="7" style="text-align: right;" >                     
                    <div style="
                      display: inline-block; 
                      width: 50%; 
                      text-align: left;">
                    <label class="custom-file-upload">
                    Selecionar Planila excel
                    <input type="file" (change)="onFileSelected($event)" accept=".xlsx,.xls,.csv" />
                     </label>
                    </div>
                    <div style="display: inline-block; width: 50%; text-align: right;">
         
                    <span (click)="addInvoicesOnlyFlyExcel()" style="
                        font-size: 14px; 
                        cursor: pointer; 
                        background-color: #276E6E;
                        color: #FFFFFF;
                        font-size: 14px;
                        border-radius: 15px;
                      ">                  
                     &nbsp; &nbsp; Inserir registro manual &nbsp; &nbsp; 
                    </span>
                    </div>
               </th>                         
              </tr>              
              <tr>
                <th class="fmtTableBorder"> Key </th>              
                <th class="fmtTableBorder"> Nombre </th>            
                <th class="fmtTableBorder"> Apelido</th>   
                 <th class="fmtTableBorder"> Compania</th>     
                <th class="fmtTableBorder"> Dt. Importação</th>                                 
                <th class="fmtTableBorder"> Status </th>   
                <th class="fmtTableBorder">  </th> 
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dados">              
                <td> {{item.Key}} </td>
                <td> {{item.Name}} </td>
                <td> {{item.LastName}} </td>
                <td> {{item.CompanyName}} </td>
                <td> {{item.DtImportacao | date:'dd/MM/YYYY HH:MM'}} </td>
              
<td style="position: relative; z-index: 100;" 
      (mousemove)="mousemoveHandler($event, item, item.Status=='Erro', item.MessageReturn)" 
      (mouseleave)="hideCustomTooltip()">    
      <span [ngStyle]="{'color': item.Status=='Erro' ? 'red': '',  'cursor': item.Status=='Erro' ? 'pointer' : '' }">{{item.Status}}</span>

<!-- Tooltip global -->
<div *ngIf="tooltip.visible"
     [ngStyle]="{
       position: 'fixed',
       top: tooltip.top + 'px',
       left: tooltip.left + 'px',
       backgroundColor: '#333',
       color: '#fff',
       padding: '5px 10px',
       borderRadius: '5px',
       fontSize: '12px',
       whiteSpace: 'normal',
       maxWidth: tooltip.maxWidth,
       zIndex: 9999,
       boxShadow: '0px 2px 6px rgba(0,0,0,0.3)'
     }">
  {{tooltip.text}}
</div>




</td>

                <td style="text-align: right;">                                        
                  <i (click)="updateInvoicesOnlyFlyExcel(item.ID)" style="font-size: 20px; cursor: pointer; " 
                  title="Editar centro de custo" 
                  class="mdi mdi-table-edit"></i>                
                </td>               
              </tr>             
            </tbody>
          </table>
          <app-paginator
          [totalPages]="totalPages"
          [currentPage]="currentPage"          
          (pageChange)="onPageChange($event)">
        </app-paginator>
        </div>
        </div>      

    </div>
  </div>
  