<nav class="sidebar sidebar-offcanvas{{!activeMenu ? ' active' : ''}}" id="sidebar">
    <ul class="nav">
  
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#UI5" aria-expanded="false" aria-controls="UI5">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">{{ 'Ecra.menu.management.management' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="UI5">
          <ul class="nav flex-column sub-menu">
           
             <li class="nav-item"> <a class="nav-link" href="javascript:void(0)" (click)="navigateToPages('/aplicacao/center')">{{ 'Ecra.DashBoard' | translate }}</a></li>            
             <li class="nav-item"> <a class="nav-link" href="javascript:void(0)" (click)="navigateToPages('/aplicacao/invoices')">{{ 'Ecra.invoices' | translate }}</a></li>            
            <li class="nav-item"> <a class="nav-link" href="javascript:void(0)" (click)="navigateToPages('/aplicacao/usuario')">{{ 'Ecra.menu.management.users' | translate }}</a></li>            
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#UI6" aria-expanded="false" aria-controls="UI6">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">{{ 'Ecra.menu.account.account' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="UI6">
          <ul class="nav flex-column sub-menu">

            <li class="nav-item"> <a class="nav-link" href="javascript:void(0)" (click)="navigateToPages('/aplicacao/purcharseRecord')">{{ 'Ecra.menu.account.purchaseRecord' | translate }}</a></li>            
          </ul>
        </div>
      </li>


      
      <li class="nav-item" style="display: none;">
        <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Contabilidade</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)" (click)="navigateToPages('/aplicacao/movement')">Movimento</a></li>
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)" (click)="navigateToPages('/aplicacao/chartOfAccount')">Plano de contas</a></li>
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)" (click)="navigateToPages('/aplicacao/balancete')">Balancete</a></li>
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)">Fornecedor</a></li>
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)">Outros fornecedores</a></li>
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)">Imobilizados</a></li>
            <li class="nav-item"> <a class="nav-link"  href="javascript:void(0)">Impostos</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Charts</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Tables</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Icons</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" data-bs-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
          <i class="icon-ban menu-icon"></i>
          <span class="menu-title">Error pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="error">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" href="../../../docs/documentation.html">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li>
    </ul>
  </nav>